
    @media (max-width: 1290px) {
        .container {
            width: 95%;
        }
    }
    
    @media (max-width: 1170px) {
        .cardswrapper {
            justify-content: space-around;
        }
    }
    
    @media (max-width: 800px) {
        nav {
            display: none;
        }
        .fa-bars {
            display: inline-block;
        }
        .section2flex {
            flex-direction: column;
            align-items: center;
        }
        .infobox {
            width: 70%;
            margin-bottom: 50px;
        }
        .infobox h4,
        .infobox h3,
        .infobox p {
            text-align: center;
        }
    }
    @media (max-width: 643px) {
        .card h4,
        .card p {
            text-align: center;
        }
    }
    
